<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    {% include '_partials/head.njk' %}
  </head>
  <body class="{{ body_class }}">
    <div class="site-wrapper">
      {% block content %}
      {% endblock %}
    </div>
    {% include "_partials/widget.njk" %}
    {% include '_partials/footer.njk' %}
    {% include "_partials/script.njk" %}
  </body>
</html>
