{# 归档 #}
{% extends '_layout.njk' %}
{% block content %}
  {% set description = _p('total', site.posts.length) %}
  {% include '_partials/header.njk' %}
  {% include '_partials/post/index.njk' %}
{% endblock %}
