{# 归档 #}
{% extends '_layout.njk' %}
{% import '_partials/index.njk' as template %}
{% block content %}
{% set description = _p('total', site.posts.length) %}
{% include '_partials/header.njk' %}
{{ template.tpl() }}
{% endblock %}