{# 首页 #}
{% extends '_layout.njk' %}
{% block content %}
  {% set description = config.subtitle %}
  {%- include '_partials/header.njk' -%}
  {%- include '_partials/post/index.njk' -%}
{% endblock %}
