{# 标签归档 #}
{% extends '_layout.njk' %}
{% import '_partials/index.njk' as template %}
{% block content %} 
{% set description = __('tags') %}
{% include '_partials/header.njk' %}
{{ template.tpl() }}
{% endblock %}