{# service workers #}
{% if theme.service_workers %}
  <script>
    "serviceWorker" in navigator && window.addEventListener("load", function () {
      navigator
        .serviceWorker
        .register("/sw.js")
        .then(function (e) {
          console.log("ServiceWorker registration successful with scope: ", e.scope)
        })
        .catch(function (e) {
          console.log("ServiceWorker registration failed: ", e)
        })
    });
  </script>
{% else %}
  {# 卸载时为 unregister #}
  <script>
    if (window.navigator && navigator.serviceWorker) {
      navigator
        .serviceWorker
        .getRegistrations()
        .then(function (registrations) {
          for (let registration of registrations) {
            registration.unregister()
          }
        })
    }
  </script>
{% endif %}
<script id="scriptLoad" src="{{ url_for('/js/allinone.min.js') }}" async></script>
{# 脚本加载监听 #}
<script>
  document.getElementById('scriptLoad').addEventListener('load', function () {
    {
      # 文章页浮动顶栏 #
    }{% if is_post() and theme.floadheader %}
      {% include "public/fload-header.njk" %}
      postProgressBar();{% endif %}
    {# 本地搜索 #}{% if theme.local_search %}
      {% if theme.service_workers %}
        searchFuncSW("{{ config.root }}");
      {% else %}
        searchFunc("{{ config.root }}");{% endif %}
    {% endif %}
  })
</script>
