<div id="site-main" class="site-main outer" role="main">
  <div class="inner">
    <div class="post-feed">
      <article class="post-card post no-image custom-page">
        <article class="post-full no-image">
          <section class="post-full-content page-full-content">
            {{ page.content }}
          </section>
        </article>
      </article>
    </div>
  </div>
</div>
