<nav class="site-nav">
  <div class="site-nav-left">
    <ul class="nav">
      {% if theme.menu %}
        {% for menu,link in theme.menu %}
          <li>
            <a href="{{ link }}" title="{{ menu }}">{{ __(menu) }}</a>
          </li>
        {% endfor %}
      {% else %}
        <a href="{{ config.root }}" title="Home">{{ __('Home') }}</a>
      {% endif %}
    </ul>
  </div>
  {% if theme.local_search %}
    <div class="search-button-area">
      <a href="#search" class="search-button">{{ __('search') }} ...</a>
    </div>
  {% endif %}
  <div class="site-nav-right">
    {% if theme.local_search %}
      <a href="#search" class="search-button">{{ __('search') }} ...</a>
    {% endif %}
    {% include '_partials/header/social.njk' %}
  </div>
</nav>
